* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size : 100%; 
    font-size : 0.80em;
	font-weight : normal;
	line-height	: normal;
}

#container {
	margin-left:64px;
	background-color:#f8f8f8;
}

#content {
	padding: 20px;
}

#header {
	float:left;
	padding: 24px 20px 48px 20px;
}

#menu {
	margin-top:16px;
	float:left;
	margin-bottom:32px;
    padding-left: 20px;
}

.ref-item { margin-bottom: 60px; }
.ref-item th { width: 100px; font-weight: bold; text-align: left; vertical-align: top; }
.ref-item td { vertical-align: top; padding-bottom: 2em; }
.ref-item td p {
	max-width: 520px;
}

.ref-col .is-disabled, .ref-col .is-disabled a, .ref-col .is-disabled h5 {color: #dddddd;}

.ref-item td b {
	font-weight: normal;
	font-family			: monaco, "Courier New", Courier, monospace; 
	font-size			: 11px; 
	line-height			: normal; 
}
pre { 
	margin-bottom: 30px;
	margin-top: 0;
    font-size: 1.155em;
}
.table { 
	margin-bottom: 0;
	margin-top: 0;
}
tr.name-row { height: 60px; }
td p { margin-top: 0; }

ul {
	list-style:none;
	padding:0;
	margin:0;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

.clear {
	clear:both;
}


#menu ul li, #subMenu ul li {
	float:left;
	padding-right:6px;
}

.functions {
    list-style-type: circle;
    margin-left: 20px;
}


body {
	color : #333;
	background-color :#fff;
}

#header {
	background-color: #0a0a29;
	color: #fff;
}

#header>h1 {
   	color: #fff; 
}

h1, h2, h3, h4, h5, h6 {
	color:#666;
}


pre, code {  
	color: #000000;
}


a,strong {
	color: #333;
}


a:hover, 
a:active {
	color: #333;
}


a:visited,
a:link:visited {
	color: #333;
}

#footer a, #menu a {
	color:#333;
}
