* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size : 100%; 
    font-size : 0.80em;
	font-weight : normal;
	line-height	: normal;
}

#container {
	margin-left:64px;
	background-color:#f8f8f8;
}

#header {
	float:left;
	padding: 24px 20px 48px 20px;
}

#menu {
	margin-top:16px;
	float:left;
	margin-bottom:32px;
    padding-left: 20px;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

.clear {
	clear:both;
}

#menu ul li, #subMenu ul li {
	float:left;
	padding-right:6px;
}

#content {
	padding: 20px;
}

div.ref-col { 
	width: 30%; 
    margin-right: 2%; 
    float: left; 
}

.ref-col h3 { 
	margin: 0;
	font-size: 1.25em;
}
.ref-col h5 { 
	margin: 1.5em 0 0 0; 
	font-size: 1em; 
	font-weight: normal; 
	color: #252525;
}
.ref-col h3+h5 { margin-top: 0; }
.category { margin-bottom: 30px; }

.ref-col a.ref-link { /* reference index page item */
	display: block;
}

.ref-link {
    margin-top: 4px;
    text-decoration: none;
	font-weight: normal;
	color: #2c7bb5;
}

.ref-col p { margin-top: -.5em; margin-bottom: 2em; }

.large-header {
    margin-bottom: 50px;
}

body {
	color : #333;
	background-color :#fff;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	color:#666;
}

#header {
	background-color: #0a0a29;
	color: #fff;
}

#header>h1 {
   	color: #fff; 
}


pre, code {  
	color: #000000;
}

a:hover, 
a:active {
	color: #333;
}

#footer a, #menu a {
	color:#333;
}
